In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
dados = pd.read_excel("vendas.xlsx")

In [4]:
dados.head()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01

In [7]:
dados.tail()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
69995,PED67084,2022-12-31,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Crédito,2022-12
69996,PED67857,2022-12-31,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,200ml,Consumo no local,7,Pix,2022-12
69997,PED69171,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,500ml,Consumo no local,5,Dinheiro,2022-12
69998,PED69229,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,9,Pix,2022-12
69999,PED69356,2022-12-31,Loja 1,Fortaleza,Ceará,Nordeste,300ml,Delivery,9,Pix,2022-12

In [8]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_pedido        70000 non-null  object
 1   data             70000 non-null  datetime64[ns]
 2   loja             70000 non-null  object
 3   cidade           70000 non-null  object
 4   estado           70000 non-null  object
 5   regiao           70000 non-null  object
 6   tamanho          70000 non-null  object
 7   local_consumo    70000 non-null  object
 8   preco            70000 non-null  int64
 9   forma_pagamento  70000 non-null  object
 10  ano_mes          70000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 5.9+ MB

## estatisctica dos dados

In [11]:
dados.preco.describe().to_frame()

              preco
count  70000.000000
mean       8.355200
std        2.653061
min        5.000000
25%        7.000000
50%        7.000000
75%       11.000000
max       13.000000